		</div>
	</body>
	<script>
      document.getElementById("mobileMenu").addEventListener("click", (function () {
        var hCont = document.getElementById("headerContents"),
          menuState = 1; //odd is closed, even is open
        return function (e) {
          console.log("click");
          hCont.className = (++menuState % 2 === 0 ? "open" : "");
        };
      }()));
    </script>
</html>