@import "compass/css3/";
$grayBackground: #EDECF1;
$mediumGray: #E1E4EA;
$textBlack: #363A3D;
$textWhite: white;
$gray: #E1E4EA;
$red: #F5324C;
$yellow: #FEA43F;
$navyBlue: #1A0F42;
$darkRed: #B92C3F;

$bp-small : 35em;
$bp-med : 46.8em;
$bp-large : 55em;
$bp-xl : 83em;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}