@import "./base";
body {
	background-color: $grayBackground;
	color: $textBlack;
	font-family: sans-serif;
	background-image: image-url("HDLBIT_BorderPattern.png");
	background-repeat: repeat-y;
	background-position: top left;
	padding-left: 8px
}

@include placeholder {
	color: $gray;
}
::-moz-selection {
    background: #EFD2D2;
    text-shadow: none;
}

::selection {
    background: #EFD2D2;
    text-shadow: none;
}

h1 {
	margin: 0.17em 0;
	font-size: 1.5em;
}
p {
	margin: 0.8em 0;
}

.left {
	float: left;
}
.right {
	float: right;
}

.button {
	background-color: $yellow;
	color: $textWhite;
	border-radius: 3px;
	border-width: 0;
	padding: 3px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		box-shadow: inset -2px -2px 0 $navyBlue;
		padding: 2px 4px 4px 2px;
		text-decoration: none;
	}
	&:active {
		background-color: $red;
		box-shadow: 0 0 0 white;
	}
	&.red {
		background-color: $red;
		&:active {
			background-color: $darkRed;
		}
	}
}

input{
	&[type=text], &[type=password] {
		border-radius: 3px;
		border-width: 0;
		padding: 3px;
		margin: 0;
	}
}

a {
	color: $yellow;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

#content {
	margin: auto 1%;
}


@media only screen and (min-width: $bp-small) {
  #content {
		margin: auto 2%;
	}
}

@media only screen and (min-width: $bp-med) {
	#content {
		margin: auto 3%;
	}
}

@media only screen and (min-width: $bp-large) {
	#content {
		margin: auto 5%;
	}
}

@media only screen and (min-width: $bp-xl) {
	#content {
		margin: auto;
		max-width: ($bp-xl - 10);
	}
}