@import "./base";

#userInfo {
	border-bottom: 1px solid $gray;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#userPicture {
	// background-color: $gray;
	// height: 200px;
	width: 30%;
	float: left;
	padding: 0 1% 5px 0;
	// background-size: contain;
	// background-image: image-url("testAvatar.jpg");
	// background-repeat: no-repeat;
}
#infoText {
	&>h1 {
		margin-bottom: 0;
	}
}

#requestSearch {
	background-color: $mediumGray;
	padding: 5px 1%;
	border-radius: 6px;
}
#requestTable {
	&> .requestRow {
		padding: 8px 2%;
		border-bottom: 1px solid $gray;
		vertical-align: middle;
		position: relative;
		
	}
	.name {
		display: none;
		
	}
	.acceptRequest {
		position: absolute;
		top: 5px;
		right: 2%;
	}
}

@media only screen and (min-width: $bp-small) {
	#userInfo {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	#userPicture {
		padding: 0 2% 10px 0;
		max-width: 180px;
	}
	#requestTable {
		.title {
			width: 33%;
			display: inline-block;
		}
		.name {
			width: 33%;
			display: inline-block;
		}
	}
	#infoParagraph {
		max-width: 85%;
	}
}

@media only screen and (min-width: $bp-med) {
	#userPicture {
		max-width: 200px;
		padding: 0 3% 10px 0;
	}
	#userInfo {
		overflow: hidden;
	}
	#infoParagraph {
		max-width: 65%;
	}
}

@media only screen and (min-width: $bp-large) {

}