<!doctype html5>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<meta property="og:image" content="images/HDLBIT_Logo_web.png"/>
		<meta property="og:title" content="Huddlebit - coming soon"/>
		<meta property="og:url" content="http://huddlebit.com/signup"/>
		<meta property="og:site_name" content="Huddlebit"/>

		<script src="vendor/javascript/jquery-2.0.3.min.js"></script>
		<script src="vendor/javascript/scoreunder.js"></script>
		<script src="javascript/emailForm.js"></script>
	</head>
	</body>
		<div id="content">
			<div id="visuals">
				<img src="" alt="" id="icon">
				<img src="" alt="" id="typeface">
			</div>
			<div>
				<em>Coming soon!...</em> Let us bombard you with an email when we launch.
			</div>
			<form action="saveEmail" id="emailForm">
				<input type="text" />
				<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>