{{> header}}

<div id="userInfo">
	<img src="/images/testAvatar.jpg" id="userPicture" />
	<div id="infoText">
		<h1>Julian Casablancas</h1>
		<p>Brief intro/bio if they choose to make one. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mauris metus, eulsmod a diam id, pretlum sodales sem. Interdum et malesuada fames ac ante ipsum primis in facibus. Sed sit amet fringilla ipsum.</p>
		<p><strong>Startup: </strong>
		(Name of startup goes here or option to upload logo of startup Logo would appear here.)
		</p>
		<a href="" id="pastRequests" class="button red">Past Requests</a>
	</div>
</div>

<div id="requestWrapper">
	<div id="requestTable">
		<div id="requestSearch">
			<input type="text" placeholder="Search for Request or tag name (eg 'Illustrator')"><a href="#" id="createRequest" class="button red right">Create Request</a></div>
		<div class="requestRow">
			<span class="title">Request title</span>
			<span class="name">startup name</span>
			<span class="acceptRequest button">Accept</span>
		</div>
		<div class="requestRow">
			<span class="title">Request title</span>
			<span class="name">startup name</span>
			<span class="acceptRequest button">Accept</span>
		</div>
		<div class="requestRow">
			<span class="title">Request title</span>
			<span class="name">startup name</span>
			<span class="acceptRequest button">Accept</span>
		</div>
		<div class="requestRow">
			<span class="title">Request title</span>
			<span class="name">startup name</span>
			<span class="acceptRequest button">Accept</span>
		</div>
	</div>
</div>

{{> footer}}