/* line 2, ../sass/global.scss */
body {
  background-color: #edecf1;
  color: #363a3d;
  font-family: sans-serif;
  background-image: url('../images/HDLBIT_BorderPattern.png?1384723999');
  background-repeat: repeat-y;
  background-position: top left;
  padding-left: 8px;
}

/* line 18, ../sass/_base.scss */
::-webkit-input-placeholder {
  color: #e1e4ea;
}

/* line 19, ../sass/_base.scss */
:-moz-placeholder {
  color: #e1e4ea;
}

/* line 20, ../sass/_base.scss */
::-moz-placeholder {
  color: #e1e4ea;
}

/* line 21, ../sass/_base.scss */
:-ms-input-placeholder {
  color: #e1e4ea;
}

/* line 15, ../sass/global.scss */
::-moz-selection {
  background: #EFD2D2;
  text-shadow: none;
}

/* line 20, ../sass/global.scss */
::selection {
  background: #EFD2D2;
  text-shadow: none;
}

/* line 25, ../sass/global.scss */
h1 {
  margin: 0.17em 0;
  font-size: 1.5em;
}

/* line 29, ../sass/global.scss */
p {
  margin: 0.8em 0;
}

/* line 33, ../sass/global.scss */
.left {
  float: left;
}

/* line 36, ../sass/global.scss */
.right {
  float: right;
}

/* line 40, ../sass/global.scss */
.button {
  background-color: #fea43f;
  color: white;
  border-radius: 3px;
  border-width: 0;
  padding: 3px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
/* line 49, ../sass/global.scss */
.button:hover {
  box-shadow: inset -2px -2px 0 #1a0f42;
  padding: 2px 4px 4px 2px;
  text-decoration: none;
}
/* line 54, ../sass/global.scss */
.button:active {
  background-color: #f5324c;
  box-shadow: 0 0 0 white;
}
/* line 58, ../sass/global.scss */
.button.red {
  background-color: #f5324c;
}
/* line 60, ../sass/global.scss */
.button.red:active {
  background-color: #b92c3f;
}

/* line 67, ../sass/global.scss */
input[type=text], input[type=password] {
  border-radius: 3px;
  border-width: 0;
  padding: 3px;
  margin: 0;
}

/* line 75, ../sass/global.scss */
a {
  color: #fea43f;
  text-decoration: none;
}
/* line 78, ../sass/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 83, ../sass/global.scss */
#content {
  margin: auto 1%;
}

@media only screen and (min-width: 35em) {
  /* line 89, ../sass/global.scss */
  #content {
    margin: auto 2%;
  }
}
@media only screen and (min-width: 46.8em) {
  /* line 95, ../sass/global.scss */
  #content {
    margin: auto 3%;
  }
}
@media only screen and (min-width: 55em) {
  /* line 101, ../sass/global.scss */
  #content {
    margin: auto 5%;
  }
}
@media only screen and (min-width: 83em) {
  /* line 107, ../sass/global.scss */
  #content {
    margin: auto;
    max-width: 73em;
  }
}
