/* line 2, ../sass/header.scss */
#logo {
  background-image: url('../images/HDLBIT_Logo_web.png?1384717846');
  height: 117px;
  width: 173px;
  background-repeat: no-repeat;
  display: block;
  margin: auto auto 15px;
  background-size: contain;
}

/* line 11, ../sass/header.scss */
#signIn {
  display: none;
}

/* line 14, ../sass/header.scss */
header {
  padding: 10px 0 5px;
  margin: auto 1%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e1e4ea;
  margin-bottom: 10px;
}
/* line 21, ../sass/header.scss */
header nav {
  display: inline-block;
}

/* line 25, ../sass/header.scss */
#headerContents {
  -webkit-transition: max-height 500ms linear;
  -webkit-transition-delay: 0s;
  -moz-transition: max-height 500ms linear 0s;
  -o-transition: max-height 500ms linear 0s;
  transition: max-height 500ms linear 0s;
  max-height: 0px;
  overflow: hidden;
  background-color: #e1e4ea;
  width: 100%;
}
/* line 31, ../sass/header.scss */
#headerContents nav {
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
/* line 35, ../sass/header.scss */
#headerContents nav > a {
  padding: 5px 0;
  display: block;
}
/* line 40, ../sass/header.scss */
#headerContents #headerSignIn {
  text-align: center;
  margin-bottom: 10px;
}
/* line 44, ../sass/header.scss */
#headerContents.open {
  max-height: 150px;
}

/* line 49, ../sass/header.scss */
#mobileMenu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  font-size: 2em;
  border-radius: 6px;
  margin: 6px;
  color: #edecf1;
}

/*footer*/
/* line 61, ../sass/header.scss */
footer {
  padding: 40px 1% 20px;
  text-align: center;
  font-size: 0.9em;
}
/* line 65, ../sass/header.scss */
footer > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 70, ../sass/header.scss */
footer > ul li {
  display: inline;
}
/* line 73, ../sass/header.scss */
footer > ul li + li:before {
  content: " | ";
}

@media only screen and (min-width: 35em) {
  /* line 82, ../sass/header.scss */
  header {
    padding: 15px 0 5px;
    margin: auto 2%;
  }

  /* line 86, ../sass/header.scss */
  #logo {
    display: inline-block;
    margin-bottom: 0;
  }

  /* line 90, ../sass/header.scss */
  #mobileMenu {
    display: none;
  }

  /* line 93, ../sass/header.scss */
  header #headerContents {
    max-height: none;
  }

  /* line 96, ../sass/header.scss */
  #headerSignIn {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  /* line 101, ../sass/header.scss */
  #headerContents {
    margin-bottom: -5px;
    background-color: #edecf1;
    width: auto;
    display: inline-block;
  }
  /* line 106, ../sass/header.scss */
  #headerContents nav {
    font-size: 1.1em;
    display: inline-block;
    width: auto;
    padding: 0;
    margin-left: 10px;
  }
  /* line 112, ../sass/header.scss */
  #headerContents nav > a {
    display: inline-block;
    padding: 0 5px;
  }

  /* line 119, ../sass/header.scss */
  footer {
    padding: 45px 2% 20px;
    text-align: right;
  }
}
@media only screen and (min-width: 46.8em) {
  /* line 128, ../sass/header.scss */
  header {
    margin: auto 3% 10px;
    padding-bottom: 10px;
  }

  /* line 134, ../sass/header.scss */
  #headerContents {
    margin-bottom: -5px;
  }
  /* line 136, ../sass/header.scss */
  #headerContents #headerSignIn {
    text-align: right;
    margin-bottom: 10px;
  }

  /* line 141, ../sass/header.scss */
  #signInButton {
    display: none;
  }

  /* line 144, ../sass/header.scss */
  #signIn {
    display: inline-block;
  }
  /* line 146, ../sass/header.scss */
  #signIn .textfield {
    max-width: 25%;
  }

  /* line 152, ../sass/header.scss */
  footer {
    padding: 45px 3% 25px;
  }
}
@media only screen and (min-width: 55em) {
  /* line 161, ../sass/header.scss */
  header {
    margin: auto 5% 15px;
    padding-top: 35px;
    padding-bottom: 15px;
  }

  /* line 169, ../sass/header.scss */
  #signIn .textfield {
    max-width: 30%;
  }

  /* line 176, ../sass/header.scss */
  #headerContents #headerSignIn {
    margin-bottom: 15px;
  }
  /* line 180, ../sass/header.scss */
  #headerContents nav {
    margin-left: 20px;
  }
  /* line 183, ../sass/header.scss */
  #headerContents nav > a {
    padding: 0 10px;
  }

  /* line 189, ../sass/header.scss */
  footer {
    padding: 50px 5% 25px;
  }
}
@media only screen and (min-width: 83em) {
  /* line 195, ../sass/header.scss */
  header {
    margin: auto;
    max-width: 73em;
  }

  /* line 200, ../sass/header.scss */
  footer {
    margin: auto;
    max-width: 73em;
  }
}
